h1 {
   color: rgb(223, 91, 91);
}

/* 01 - Лекция по флексам ________________________________________________*/
/* wrap-reverse - перенос вверх */

.container {
   /* Direction + Wrap */
   flex-flow: row wrap;

   /* Растянет элементы на всю высоту */
   align-items: stretch;

   /* Выравнивание строк по побочнойо оси */
   /* Относительно флекс контейнера */
   align-content: space-between;
}

.item {
   /* Порядок */
   order: 2;

   /* Как и align-items, но для каждого элемента отдельно */
   align-self: flex-end;

   /* Размер вдоль главной оси */
   flex-basis: 120px;

   /* Онтосительный размер, по умолчанию 0 - запрет увеличиваться */
   flex-grow: 3; /* займет ширину в 3е больше остальных */

   /* Относительное уменьшение */
   flex-shrink: 1; /* уменьшение по умолчанию, 0 - запрет уменьшения */

   /* Общее свойство: grow shrink basis */
   flex: 1 1 150px;
}
